*{
  line-height: 1.2em;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*font*/
p,a{
  font-size: 15px;
  /*font-family: serif;*/
}
h1,h2,h3,h4,.serif{
  font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', 'HiraMinProN-W3', 'ＭＳ 明朝', 'MS Mincho',"MingLiU", "標楷體", 'DFKai-sb',serif;
}


a{
  color: black;
  text-decoration:none;
}
a:hover,
a:active{
  text-decoration:underline;
  color: black;
}

body p{
  margin: 0 0 1.5em 0;
}

body h2{
  margin: 0;
}