#logo{
  margin: 15px 0 0 105px;
}
#logo img{
  width: 30px;
}
@media (min-width: 480px){
  body #navigation{
    background: url(/sites/all/themes/zen/img/curve.png) repeat-x;
    width: 630px;
    position: initial;
    margin-bottom: 0;
    padding: 30px 0 0 0;
    height: 70px;
  }  
}
#main-menu ul li a{
  font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', 'HiraMinProN-W3', 'ＭＳ 明朝', 'MS Mincho',"MingLiU", "標楷體", 'DFKai-sb',serif;
  padding-bottom: .4em;
}
#navigation ul.links>li{
  margin-right: 45px;
  padding: 0;
}
#navigation ul.links>li:last-child{
  margin-right: 0;
}
#navigation ul.links>li a:hover{
  text-decoration:none;
}
#navigation ul.links>li.active a,
#navigation ul.links>li:hover a{
  border-bottom: black solid 4px;
}
/*#navigation a,
#navigation a:hover,
#navigation a:active{
  color: black;
  text-decoration:none;
}*/
.navigation-wrapper:after{
  clear: both;
  content: "";
  display: block;
}
#navigation ul.links>li.menu-420{
  border-right: black 1px solid;
  padding-right: 40px;
}


/**
 * slideshow
 */

.slick-dots{
  width: 30px;
  float: left;
  padding: 0;
  margin:50px 30px 0 0;
}
.slick-dots>li{
  list-style-type: none;
}
.slick-dots>li button{
  border: none;
  background: transparent;
  line-height: 25px;
  width: 30px;
  height:25px;
  overflow: hidden;
}
.slick-dots>li button:before{
  content: "○";
  font-family: serif;
  font-size: 9px;
  font-weight: bolder;
}
.slick-dots>li.slick-active button:before{
  content: "●";
  font-family: serif;
}

.mfp-content .field-name-field-photo img,
.mfp-content .field-name-field-image img{
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%; /* future proofing */
  -khtml-border-radius: 50%; /* for old Konqueror browsers */
}
.pane-home-master .views-field-view-node a,
.pane-home-products .views-field-title a{
  font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', 'HiraMinProN-W3', 'ＭＳ 明朝', 'MS Mincho','DFKai-sb',serif;
}
.map-info-text {
  position: absolute;
  top: 100px;
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .header-logo-menu-wrapper{
    padding-top: 0;
  }
  #logo{
    margin: 0;
    padding: 20px;
  }
  .sidr #navigation .links li, .sidr #navigation .menu li{
    float: none;
  }
  .sidr #navigation #main-menu ul li a{
    font-size: 1.3em;
    padding: .5em;

  }
}