#logo{
  margin: 15px 0 0 105px;
}
#logo img{
  width: 30px;
}
@media (min-width: 480px){
  body #navigation{
    background: url(/sites/all/themes/zen/img/curve.png) repeat-x;
    width: 630px;
    position: initial;
    margin-bottom: 0;
    padding: 30px 0 0 0;
    height: 70px;
  }  
}
#navigation ul.links>li{
  margin-right: 40px;
  padding: 0;
}
#navigation ul.links>li a:hover{
  text-decoration:none;
}
#navigation ul.links>li.active a,
#navigation ul.links>li:hover a{
  border-bottom: black solid 4px;
}
#navigation ul.links>li.menu-423.active a{
  border-bottom: none;
}
/*#navigation a,
#navigation a:hover,
#navigation a:active{
  color: black;
  text-decoration:none;
}*/
.navigation-wrapper:after{
  clear: both;
  content: "";
  display: block;
}
#navigation ul.links>li.menu-420{
  border-right: black 1px solid;
  padding-right: 40px;
}


/**
 * slideshow
 */

.slick-dots{
  width: 30px;
  float: left;
  padding: 0;
  margin:50px 30px 0 0;
}
.slick-dots>li{
  list-style-type: none;
}
.slick-dots>li button{
  border: none;
  background: transparent;
  line-height: 25px;
  width: 30px;
  height:25px;
  overflow: hidden;
}
.slick-dots>li button:before{
  content: "○";
  font-family: serif;
  font-size: 9px;
  font-weight: bolder;
}
.slick-dots>li.slick-active button:before{
  content: "●";
  font-family: serif;
}