.region-header{
  background: url(/sites/all/themes/zen/img/banner.jpg);
  background-position-x: center;
  /* Firefox */
  -moz-background-size: cover;
  /* WebKit */
  -webkit-background-size: cover;
  background-size: cover;
  /* Opera 9.5+, later Google Chrome */
}

#block-block-3{
  margin: 0 auto;
  text-align: center;
  color: white;
}
.banner-bar-wrapper:after{
  clear: both;
  content: "";
  display: block;
}
.banner-bar{
  width: 42%;
  float: left;
  border-bottom: 7px solid white;
  height: 33px;
}
.banner-top-logo,
.banner-bottom-scroll{
  float: left;
  width: 16%;
  padding-bottom: 15px;
}
.banner-top-logo img{
  width: 50px;
}
.banner-content{
  font-size: 13px;
  line-height: 1.3em;
  clear: both;
  /*border-bottom: 7px solid white;*/
}
.banner-bottom-scroll{
  margin-top: 42px;
}
.banner-bottom-scroll a{
  background: url(/sites/all/themes/zen/img/scroll.png) no-repeat;
  background-position-x: 50%;
  padding-top: 28px;
  color: white;
  font-family: serif;
}


body.front #page-title{
  display: none;
}


/* slideshow1 */
.pane-carousel{
}
.pane-carousel img{
  padding-right: 60px;
}



.pane-block-2 img{
  float: left;
  padding: 0 50px  60px 0;
}

/* slideshow */
.pane-home-master .views-field-nothing-1,
.pane-home-master .views-field-nothing-1 a{
  /*background: #000;*/
  color: white;
}
.pane-home-master .views-field-nothing-1{
  padding: 40px 0;
  padding-right: 150px;
  float: left;
  width: 450px;
}

.pane-home-master .views-field-nothing-1 div{
  clear: both;
}
/*.pane-home-master .views-field-view-node{
  display: none;
}*/
.pane-home-master .views-field-field-photo{
  /*margin-left: 100px;*/
  padding-top:50px;

}
.pane-home-master .views-field-field-photo img,
.pane-home-products .views-field-field-image img{
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%; /* future proofing */
  -khtml-border-radius: 50%; /* for old Konqueror browsers */
}
.pane-home-master .slick-dots{
  margin-left:100px;
  margin-top:130px;
}
.pane-home-master .slick-dots>li button:before{
  color: white;
}

.pane-home-master .views-label-field-duration:after,
.pane-home-master .views-label-field-position:after{
  content:"/";
}
.pane-home-master .views-field-view-node{
  margin-top: 20px;
}

.pane-home-products{
  background: url(/sites/all/themes/zen/img/bg-road-ww.jpg);
  background-position-x: center;
  /* Firefox */
  -moz-background-size: cover;
  /* WebKit */
  -webkit-background-size: cover;
  background-size: cover;
  /* Opera 9.5+, later Google Chrome */
}
.pane-home-products .pane-title{
  padding-top: 120px;
}
.pane-home-products .view-content{
  width: 780px;
  margin: 0 auto;
}

.pane-home-products .views-row{
  /*float: left;*/
  display: inline-block;
  padding: 30px;
  width: 32%;
}
.pane-home-products .views-field{
  text-align: center;
  margin: 0 auto;
  /*margin: 0 auto;*/
}





.pane-home-products .pane-title, .pane-home-products .view-header{
  width: 630px;
  margin: 0 auto;
  /* Opera 9.5+, later Google Chrome */
}

@media screen and (max-width: 767px) {
  .pane-carousel img{
    padding-right:0;
  }
  .pane-home-master .views-row{
    clear: both;
  }
  .pane-home-master .views-field-field-photo{
    width: 260px;
    margin: 0 auto;
  }
  .pane-home-master .views-field-nothing-1{
    margin: 0 auto;
    float: none;
    padding: 0;
    width: auto; 
    
  }
  .pane-home-products .view-content{
    width: 100%;
  }
  .pane-home-products .pane-title, .pane-home-products .view-header{
    width: 100%;
    padding: 0 40px;
  }
  .pane-home-products .views-row{
    display: block;
    margin: 0 auto;
    width: 100%;
  }
}